{% extends 'base.html' %} {% block content %}
<!-- latihan BAB 1 -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary"><center>LATIHAN BAB I</center></h4>
  </div>
  <div class="card-body">
    <ol type="1">
      <li>Di antara kelompok atau kumpulan berikut, tentukan yang termasuk himpunan dan bukan himpunan, berikan alasan yang mendukung.</li>
      <ol type="a">
        <p>
          <li>Kumpulan kendaraan bermotor</li>
          <li>Kelompok negara-negara di Asia Tenggara</li>
          <li>Kelompok binatang serangga</li>
          <li>Kumpulan orang-orang pendek</li>
          <li>Kelompok bilangan kecil</li>
        </p>
      </ol>

      <li>Sebutkan anggota dan bukan anggota himpunan berikut, tuliskan dengan notasi keanggotaan</li>
      <ol type="a">
        <p>
          <li>Himpunan nama-nama bunga</li>
          <li>Himpunan satuan berat</li>
          <li>H = {x | x = 2n – 1, n bilangan cacah}</li>
          <li>Himpunan warna pelangi</li>
          <li>Himpunan ibu kota provinsi di Indonesia</li>
        </p>
      </ol>

      <li>Tentukan banyaknya anggota setiap himpunan berikut dengan menggunakan notasi</li>
      <ol type="a">
        <p>
          <li>A = {warna bendera Indonesia}</li>
          <li>B = {provinsi di Indonesia}</li>
          <li>C = {nama hari dalam seminggu}</li>
          <li>D = {bilangan ganjil kurang dari 15}</li>
          <li>E = {huruf pembentuk kata MATEMATIKA}</li>
          <li>F = {bilangan asli yang merupakan faktor dari 18}</li>
        </p>
      </ol>

      <li>Menyatakan himpunan</li>
      <ol type="a">
        <p>
          <li>A adalah himpunan nama-nama hari dalam seminggu</li>
          <li>M adalah himpunan binatang pemakan rumput</li>
          <li>N adalah himpunan</li>
          <li>B adalah himpunan</li>
        </p>
      </ol>

      <li>Diketahui A = {1, 2, 3, 4, 5}; B = {4, 8, 12, ..., 96}; P ={s, a, k, i, t}; dan Q={k, u, c, i, n, g}. Salin dan isilah dengan lambang atau ∉ pada titik-titik berikut sehingga menjadi kalimat yang benar</li>
      <ol type="a">
        <p>
          <li>3 ... A</li>
          <li>0 ... A</li>
          <li>72 ... B</li>
          <li>54 ... B</li>
          <li>a ... P</li>
          <li>u ... Q</li>
          <li>t ... Q</li>
          <li>n ... P</li>
        </p>
      </ol>

      <li>Salin dan isilah titik-titik pada kalimat berikut sehingga menjadi kalimat yang benar</li>
      <ol type="a">
        <p>
          <li>A = {bilangan prima kurang dari 25} maka n(A) = ...</li>
          <li>B = {huruf pembentuk kata SURABAYA} maka n(B) = ....</li>
          <li>C = {faktor dari 20} maka n(C) = ....</li>
          <li>D = {faktor persekutuan dari 15 dan 45} maka n(D) = ....</li>
        </p>
      </ol>

      <li>Selidikilah himpunan-himpunan berikut berhingga atau tak berhingga, berilah alasannya</li>
      <ol type="a">
        <p>
          <li>B adalah himpunan bilangan asli yang habis dibagi 3</li>
          <li>C adalah himpunan bilangan cacah kurang dari 1.001</li>
          <li>M adalah himpunan bilangan bulat kurang dari –4</li>
          <li>K adalah himpunan bangun ruang dalam matematika</li>
        </p>
      </ol>

      <li>Nyatakan himpunan-himpunan berikut dengan kata-kata, dengan notasi pembentuk himpunan, dan dengan mendaftar anggota-anggotanya</li>
      <ol type="a">
        <p>
          <li>P adalah himpunan huruf pembentuk kata SUKARELAWAN</li>
          <li>Q adalah himpunan nama bulan dalam satu tahun yang berumur 30 hari</li>
          <li>R adalah himpunan bilangan genap kurang dari 10</li>
          <li>S adalah himpunan lima huruf terakhir dalam abjad</li>
        </p>
      </ol>
    </ol>
  </div>
</div>
<!-- akhir latihan BAB 1 -->
<!-- latihan BAB 2 -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary"><center>LATIHAN BAB II</center></h4>
  </div>
  <div class="card-body">
    <ol type="1">
      <li>Di antara himpunan-himpunan berikut, tentukan manakah yang merupakan himpunan kosong?</li>
      <ol type="a">
        <p>
          <li>Himpunan anak kelas VII SMP yang berumur kurang dari 8 tahun</li>
          <li>Himpunan kuda yang berkaki dua</li>
          <li>Himpunan kubus yang mempunyai 12 sisi</li>
          <li>Himpunan bilangan prima yang habis dibagi 2</li>
          <li>Himpunan bilangan asli antara 8 dan 9</li>
          <li>Himpunan nama bulan dalam setahun yang berumur kurang dari 30 hari</li>
          <li>Himpunan penyelesaian untuk 2x = 3, x bilangan cacah</li>
          <li>N = {x | x + 4 = 0, x bilangan asli}</li>
        </p>
      </ol>

      <li>Sebutkan paling sedikit dua buah himpunan semesta yang mungkin dari tiap himpunan berikut</li>
      <ol type="a">
        <p>
          <li>Himpunan anak kelas VII SMP yang berumur kurang dari 8 tahun</li>
          <li>G = {x | x = 2n, n bilangan cacah}</li>
          <li>H = {x | x = 2n – 1, n bilangan cacah}</li>
          <li>P = {honda, yamaha, suzuki}</li>
          <li>Q = {merpati, dara, puyuh}</li>
        </p>
      </ol>

      <li>Tentukan sebuah himpunan semesta yang mungkin untuk himpunan-himpunan berikut</li>
      <ol type="a">
        <p>
          <li>A = {1, 4, 9, 16, 25}</li>
          <li>B = {1, 3, 5, 7, ... }</li>
          <li>H = {x | x = 2n – 1, n bilangan cacah}</li>
          <li>E = {m, dm, cm, mm}</li>
          <li>F = {kerucut, tabung, bola}</li>
        </p>
      </ol>

      <li><p>Jika diketahui G = {faktor dari 12} dan H = {faktor dari 16}, apakah G H? Jelaskan!</p></li>

      <li>Jika anggota A = {1, 2, 3, 4, 5}, sebutkan himpunan-himpunan bagian dari A yang anggotanya terdiri dari</li>
      <ol type="a">
        <p>
          <li>A = {1, 4, 9, 16, 25}</li>
          <li>2 anggota A</li>
          <li>4 anggota A</li>
          <li>3 anggota A</li>
        </p>
      </ol>

      <li>Tentukan hubungan himpunan bagian antara himpunan-himpunan berikut!</li>
      <p>A = {2, 3, 4, 5}</p>
      <p>B = {bilangan asli kurang dari 7}</p>
      <p>C = {a, i, u, e}</p>
      <p>D = {huruf vokal}</p>
      <p>E = {a, u}</p>
      <p>F = {bilangan prima genap}</p>
      <p>G = {3,5}</p>
    </ol>
  </div>
</div>
<!-- akhir latihan BAB 2 -->
<!-- latihan BAB 3 -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary"><center>LATIHAN BAB III</center></h4>
  </div>
  <div class="card-body">
    <ol type="1">
      <li>Dengan mendaftar anggota-anggotanya, tentukan hubungan yang mungkin antarhimpunan berikut ini</li>
      <ol type="a">
        <p>
          <li>A ={x | x &isin; vokal}</li>
          <li>B ={x | x &isin; konsonan}</li>
          <li>C = {nama bulan yang berumur 30 hari}</li>
          <li>D = {1, 2, 3}</li>
          <li>E = {nama bulan dalam setahun yang dimulai dengan huruf J}</li>
          <li>F = {2, 1, 3}</li>
          <li>G = {x | 10 < x < 20, x &isin; bilangan prima}</li>
          <li>H = {bilangan cacah}</li>
          <li>I = {bilangan ganjil}</li>
          <li>J ={x | x < 9, x &isin; bilangan ganjil}</li>
        </p>
      </ol>
    </ol>
  </div>
</div>
<!-- akhir latihan BAB 3 -->
<!-- latihan BAB 4 -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary"><center>LATIHAN BAB IV</center></h4>
  </div>
  <div class="card-body">
    <ol type="1">
      <li>Bila diketahui P = {1,2 , 4, 7, 11} dan Q = {2, 3, 5, 7 ,11}, tentukan P ⋂ Q !</li>

      <li>Tentukan P ⋂ Q dengan menyebutkan anggota-anggotanya, kemudian tentukan n(P ⋂ Q) untuk himpunan P dan Q di bawah ini.</li>
      <ol type="a">
        <p>
          <li>P = {x | 0 < x d 5, x &isin; A}</li>
          Q = {x | –4 d x < 1, x &isin; B}
          <li>P = {x | x < 9, x &isin; bilangan ganjil}</li>
          Q = {x | x < 9, x &isin; bilangan prima}
          <li>P = {huruf pembentuk kata <i>bunda</i>}</li>
          Q = {huruf pembentuk kata <i>ibu</i>}
        </p>
      </ol>

      <li>
        Diketahui himpunan-himpunan berikut. K = {x | –3 < x < 3, x &isin; bilangan bulat}; L = {lima bilangan cacah yang pertama}; M = {x | x < 5, x &isin; bilangan asli}; Dengan menyebutkan anggota-anggotanya, tentukan masing-masing
        anggota himpunan berikut.
      </li>
      <ol type="a">
        <p>
          <li>K &cup; L</li>
          <li>L &cup; M</li>
          <li>K &cup; M</li>
          <li>K &cup; L &cup; M</li>
        </p>
      </ol>

      <li>
        Diketahui himpunan-himpunan berikut. A= {x | x < 5, x &isin; bilangan cacah}; B = {empat bilangan ganjil yang pertama}; C = {x | x < 11, x &isin; bilangan prima} Dengan menyebutkan anggota-anggotanya, tentukan masing-masing anggota
        himpunan berikut ini.
      </li>
      <ol type="a">
        <p>
          <li>A, B, dan C</li>
          <li>A &cup; B</li>
          <li>B &cup; C</li>
          <li>A &cup; (B &cup; C)</li>
          <li>A &cup; (B &cap; C)</li>
          <li>B &cup; (S &cap; C)</li>
          <li>C &cup; (A &cap; B)</li>
          <li>(A &cap; B) &cup; (B &cap; C)</li>
        </p>
      </ol>

      <li>Diketahui S = {bilangan cacah kurang dari 15}; A = {x | x < 8, x &isin; S}; dan B = {x | x < 5, x &isin; S}. Nyatakan himpunan-himpunan berikut dengan mendaftar anggota-anggotanya.</li>
      <ol type="a">
        <p>
          <li>3 ... A</li>
          <li>A<sup>c</sup></li>
          <li>B<sup>c</sup></li>
          <li>A &cap; B<sup>c</sup></li>
          <li>(A &cup; B)<sup>c</sup></li>
          <li>A/B</li>
          <li>B/A</li>
          <li>S/A</li>
        </p>
      </ol>

      <li>Diketahui P = {huruf pembentuk kata PERIANG}; Q = {huruf pembentuk kata GEMBIRA}; R = {huruf pembentuk kata CERIA} Dengan mendaftar anggota-anggotanya,tentukan</li>
      <ol type="a">
        <p>
          <li>anggota P ⋂ Q</li>
          <li>anggota Q ⋂ P</li>
          <li>anggota P ⋃ Q</li>
          <li>anggota Q ⋃ P</li>
          <li>anggota P ⋂ (Q ⋃ R)</li>
          <li>anggota P ⋃ (Q ⋂ R)</li>
          <li>anggota (P ⋂ Q) ⋃ (P ⋂ R)</li>
          <li>anggota (P ⋃ Q) ⋂ (P ⋃ R)</li>
        </p>
      </ol>
    </ol>
  </div>
</div>
<!-- akhir latihan BAB 4 -->
<!-- latihan BAB 5 -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary"><center>LATIHAN BAB V</center></h4>
  </div>
  <div class="card-body">
    <ol type="1">
      <li>Perhatikan Diangran Venn berikut !</li>
      <center><img src="https://i.postimg.cc/nh76JpnH/Picture1.png" width="300px" height="200px" /></center>
      <p>Diketahui S = {siswa yang gemar olahraga}; P = {siswa yang gemar bola voli}; Q = {siswa yang gemar bola basket}; Setiap anggota himpunan ditunjukkan dengan noktah. Dari diagram Venn tersebut, sebutkan anggota himpunan berikut.</p>
      <ol type="a">
        <p>
          <li>Himpunan siswa yang gemar olahraga</li>
          <li>Himpunan siswa yang gemar bola basket</li>
          <li>Himpunan siswa yang gemar bola voli dan basket</li>
          <li>Himpunan siswa yang gemar bola voli saja</li>
          <li>Himpunan siswa yang gemar bola basket saja</li>
        </p>
      </ol>

      <li>Dari diagram Venn di bawah, tentukan</li>
      <center><img src="https://i.postimg.cc/5NDZT6d7/Picture2.png" width="300px" height="200px" /></center>
      <ol type="a">
        <p>
          <li>anggota himpunan S;</li>
          <li>anggota himpunan A;</li>
          <li>anggota himpunan B;</li>
          <li>anggota himpunan C</li>
        </p>
      </ol>

      <li>Berdasarkan diagram Venn pada soal nomor 2 di atas, tentukan</li>
      <ol type="a">
        <p>
          <li>anggota himpunan A ⋂ B</li>
          <li>anggota himpunan A ⋃ B</li>
          <li>anggota himpunan B ⋂ C</li>
          <li>anggota himpunan A ⋂ B ⋂ C</li>
          <li>anggota himpunan A ⋂ B<sup>c</sup></li>
          <li>anggota himpunan B\C</li>
        </p>
      </ol>

      <li>Diketahui himpunan-himpunan berikut S = {bilangan cacah kurang dari 15}; A = {lima bilangan ganjil yang pertama}; B = {lima bilangan genap yang pertama}; C = {faktor dari 8}; D = {tiga bilangan kuadrat yang pertama}</li>
      <ol type="i">
        <p>
          <li>Nyatakan himpunan-himpunan di atas dengan mendaftar anggotanya</li>
          <li>Buatlah diagram Venn untuk masing-masing himpunan berikut, dengan S sebagai himpunan semestanya</li>
        </p>
      </ol>
      <ol type="a">
        <p>
          <li>Himpunan S, A, dan B</li>
          <li>Himpunan S, A, dan C</li>
          <li>Himpunan S, B, dan D</li>
          <li>Himpunan S, A, C, dan D</li>
          <li>Himpunan S, B, C, dan D</li>
        </p>
      </ol>

      <li>Arsirlah daerah yang menggambarkan A ⋂ B untuk setiap himpunan yang disajikan oleh diagram Venn berikut</li>
      <p><img src="https://i.postimg.cc/dthb5GXZ/Picture3.png" width="300px" height="200px" /></p>

      <li>Dari diagram Venn di bawah, tentukan</li>
      <center><img src="https://i.postimg.cc/XqzTVvZv/Picture4.png" width="300px" height="200px" /></center>
      <ol type="a">
        <p>
          <li>n (S);</li>
          <li>n (A);</li>
          <li>n (B);</li>
          <li>n (A &cap; B)</li>
          <li>n (A &cup; B)</li>
          <li>n (A <sup>c</sup>);</li>
          <li>n A/B</li>
          <li>n (A &cap; B)<sup>c</sup>;</li>
        </p>
      </ol>
    </ol>
  </div>
</div>
<!-- akhir latihan BAB 5 -->

{% endblock %}
