{% extends 'base.html' %} {% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><center><b>GLOSARIUM</b></center></h6>
    </div>
    <div class="card-body">
            <p><b>Anggota himpunan</b> : Suatu objek dalam suatu himpunan</p>
            <p><b>Bukan anggota himpunan</b> : Suatu benda atau objek yang tidak termasuk dalam suatu himpunan</p>
            <p><b>Himpunan Berhingga</b> : Himpunan yang memiliki banyak anggota berhingga</p>
            <p><b>Himpunan Tak Berhingga</b> : Himpunan yang memiliki banyak anggota tak berhingga</p>
            <p><b>Bilangan Asli</b> : Bilangan yang dimulai dari angka 1 dan terus bertambah 1 atau himpunan bilangan bulat positif yang tidak termasuk 0</p>
            <p><b>Bilangan Bulat</b> : Bilangan bulat terdiri dari bilangan nol, bilangan asli dan lawan-lawannya. Contoh, { ..., –3, –2, –1, 0, 1, 2, 3, 4, ...}</p>
            <p><b>Bilangan Cacah</b> : Bilangan cacah adalah 0, 1, 2, 3, 4, .... Misal, 4, 125, dan 2.947 semuanya adalah bilangan cacah</p>
            <p><b>Bilangan Prima</b> : Suatu bilangan yang memiliki tepat dua faktor, 1 dan bilangan itu sendiri disebut bilangan prima. Contoh: 7 adalah bilangan prima faktornya adalah 1 dan 7</p>
            <p><b>Bilangan Genap</b> : Bilangan asli yang merupakan kelipatan dari 2 atau habis dibagi 2</p>
            <p><b>Bilangan Ganjil</b> : Bilangan ganjil adalah bilangan asli yang bukan kelipatan dari 2 dan tidak habis dibagi 2</p>
            <p><b>Bilangan Prima</b> : Bilangan asli yang lebih besar dari angka 1, yang faktor pembaginya adalah 1 dan bilangan itu sendiri</p>
            <p><b>Bilangan Komposit</b> : Bilangan asli (natural number) yang lebih dari 1 dan dapat dibagi habis dengan bilangan selain 1 dan bilangan itu sendiri</p>
            <p><b>Bilangan Real</b> : Bilangan yang dinyatakan dalam bentuk a/b , a, b ∈ bilangan bulat dan b ≠ 0</p>
            <p><b>Himpunan Kosong</b> : Himpunan yang tidak mempunyai anggota</p>
            <p><b>Himpunan Semesta</b> : Himpunan yang memuat semua objek di bawah pertimbangan</p>
            <p><b>Himpunan Bagian</b> : Jika setiap anggota suatu himpunan merupakan anggota himpunan yang lain</p>
            <p><b>Gabungan Dua Himpunan</b> : Himpunan yang anggota - anggotanya terdiri atas anggota himpunan A <i>atau</i> anggota himpunan B</p>
            <p><b>Irisan Dua Himpunan</b> : Suatu himpunan yang anggotanya merupakan anggota persekutuan dari dua himpunan tersebut</p>
            <p><b>Selisih Dua Himpunan</b> : Himpunan yang anggotanya semua anggota dari A tetapi bukan anggota dari B</p>
            <p><b>Komplemen Dua Himpunan</b> : Suatu himpunan yang anggota - anggotanya merupakan anggota S tetapi bukan anggota A</p>
            <p><b>Diagram Venn</b> : Suatu representasi grafis dari suatu himpunan atau himpunan-himpunan</p>
        </div>
    </div>
</div>
{% endblock %}
