{% extends 'base.html' %} {% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><center><b>RANGKUMAN</b></center></h6>
    </div>
    <div class="card-body">
        <ol type="1"><p><li>Himpunan adalah kumpulan benda atau objek yang ciri-cirinya jelas, sehingga dengan tepat dapat diketahui objek yang termasuk himpunan dan yang tidak termasuk dalam himpunan tersebut.</p></li>
            <p><li>Suatu himpunan biasanya diberi nama atau dilambangkan dengan huruf besar (kapital) A, B, C, ..., Z. Adapun benda atau objek yang termasuk dalam himpunan tersebut ditulis dengan menggunakan pasangan kurung kurawal {...}.</p></li>
            <p><li>Suatu himpunan dapat dinyatakan dengan tiga cara, yaitu dengan kata-kata, dengan notasi pembentuk himpunan, dan dengan mendaftar anggota-anggotanya.</p></li>
            <p><li>Himpunan yang memiliki banyak anggota berhingga disebut himpunan berhingga. Himpunan yang memiliki banyak anggota tak berhingga disebut himpunan tak berhingga.</p></li>
            <p><li>Himpunan semesta atau semesta pembicaraan adalah himpunan yang memuat semua anggota atau objek himpunan yang dibicarakan. Himpunan semesta biasanya dilambangkan dengan S.</p></li>
            <p><li>- Himpunan A merupakan himpunan bagian B, jika setiap anggota A juga menjadi anggota B dan dinotasikan A ⊃ B atau B ⊂ A.</p>
                <p>- Himpunan A bukan merupakan himpunan bagian B, jika terdapat anggota A yang bukan 	anggota B dan dinotasikan A ⊄ B.</p>
                <p>- Setiap himpunan A merupakan himpunan bagian dari himpunan A sendiri, ditulis A ⊃ A.</p>
                <p>- Banyaknya semua himpunan bagian dari suatu himpunan adalah 2<sup>n</sup>, dengan n banyaknya 	anggota himpunan tersebut.</p></li>
            <p><li>- Dua himpunan yang tidak kosong dikatakan saling lepas atau saling asing jika kedua himpunan tersebut tidak mempunyai anggota persekutuan..</p>
                <p>- Dua himpunan dikatakan sama, jika kedua himpunan mempunyai anggota yang tepat 	sama.</p>
                <p>- Dua himpunan A dan B dikatakan ekuivalen jika n(A) = n(B).</p></li>
            <p><li>	Irisan (interseksi) dua himpunan adalah suatu himpunan yang anggotanya merupakan anggota persekutuan dari dua himpunan tersebut. Irisan himpunan A dan B dinotasikan dengan A ⋂ B = {x | x ∈  A dan x ∈  B}.</p></li>
            <p><li>	Gabungan (union) himpunan A dan B adalah suatu himpunan yang anggotanya terdiri atas anggota-anggota A atau anggota - anggota B. Gabungan himpunan A dan B dinotasikan dengan A ⋃ B = {x | x ∈ A atau x ∈ B}.</p></li>
            <p><li>	Banyak anggota dari gabungan himpunan A dan B dirumuskan dengan n(A ⋃ B) = n(A) + 	n(B) – n(A ⋂ B).</p></li>
            <p><li>	Untuk setiap himpunan A, B, dan C berlaku sifat komutatif, asosiatif, dan distributif.</p></li>
        </div>
    </div>
</div>
{% endblock %}
