{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container"></div>
</div>
<!-- Akhir Jumbotron -->

<!-- container -->

<!-- akhir container -->
<div class="container">
  <!-- Info Panel -->
  <div class="row justify-content-center">
    <div class="col-10 info-panel">
      <h2>HALO KAWAN. YUK KITA BELAJAR HIMPUNAN!!</h2>
    </div>
  </div>
  <!-- Akhir Info Panel -->

  <!-- Workingspace -->
  <div class="row workingspace">
    <div class="col-lg-6">
      <img src="/static/img/HIMP1.png" alt="workingspace" class="img-fluid" />
    </div>
    <div class="col-lg-5">
      <h4><b>SEDIKIT TENTANG HIMPUNAN</b></h4>
      <p>Himpunan adalah kumpulan dari objek tertentu yang memiliki definisi yang jelas dan dianggap sebagai satu kesatuan.</p>
      <a href="/materi/" class="btn btn-primary tombol">Yuk cari tahu tentang himpunan!</a>
    </div>
  </div>
  <!-- Akhir Workingspace -->

  <!-- Testimonial -->
  <section class="testimonial">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h5>"This website is so helpfull to know about a sets!!"</h5>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-6 justify-content-center d-flex">
        <figure class="figure">
          <img src="/static/img/img1.jpg" class="figure-img img-fluid rounded-circle" alt="Testi 1" />
        </figure>
        <figure class="figure">
          <img src="/static/img/img2.jpg" class="figure-img img-fluid rounded-circle utama" alt="Testi 2" />
          <figcaption class="figure-caption">
            <h5>Keese Ngabwe</h5>
            <span>Zambian Student</span>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="/static/img/img3.jpg" class="figure-img img-fluid rounded-circle" alt="Testi 3" />
        </figure>
      </div>
    </div>
  </section>
  <!-- Akhir Testimonial -->

  <!-- Footer -->
  <div class="row footer">
    <div class="col text-center">
      <p>2022 All Right Reserved by Aisyah Amelia|Project TIK UTS</p>
    </div>
  </div>
  <!-- Akhir Footer -->
</div>
{% endblock %}
