<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/"> HIMPUNAN </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/materi">MATERI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/latihan">LATIHAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rangkuman">RANGKUMAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/glosarium/">GLOSARIUM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/biografi">BIOGRAFI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/aisyh.a__/">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/AisyahA14339336">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:2225210091@untirta.ac.id">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Akhir Navbar -->
