{% extends 'base.html' %} {% block content %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><center>BIOGRAFI</center></h6>
  </div>
  <div class="card-body">
    <p>
      <center>
        <img src="https://i.postimg.cc/sxbqDSh0/profile-crop.jpg" width="350" height="300" alt="profile" />
      </center>
    </p>
    <p>Aisyah Amelia adalah nama penulis buku ini. Lahir pada tanggal 29 Agustus 2003, di Kabupaten Tangerang Provinsi Banten. Penulis merupakan Anak ke 1 dari 1 bersaudara, dari pasangan Amsar Wijaya Kusuma dan Arsinah Arnawati.</p>
    <p>
      Penulis pertama kali masuk pendidikan di MI Darul Akhyar pada tahun 2009 dan tamat pada tahun 2015, pada tahun yang sama penulis melanjutkan pendidikannya ke MTs Al-Mubarok dan tamat pada tahun 2018. Setelah tamat MTs, penulis
      melanjutkan ke SMA Negeri 1 Ciruas dan tamat pada tahun 2021. Dan pada tahun yang sama penulis terdaftar sebagai Mahasiswa di Universitas Sultan Ageng Tirtayasa Fakultas Keguruan dan Ilmu Pendidikan Jurusan Pendidikan Matematika
      hingga saat ini.
    </p>
    <p>Semoga dengan penulisan buku ini mampu memberikan kontribusi positif bagi dunia pendidikan. Akhir kata penulis mengucapkan rasa syukur yang sebesar - besarnya atas terselesaikannya buku bahan ajar yang berjudul "Himpunan".</p>
  </div>
</div>
{% endblock %}
